#banner
	.banner_content
		%h1 File Cabinet
		%p Your life's work. Organizad, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
			%h2 Organize
			%p Lorem ipsum dolor amet jianbing hoodie helvetica kinfolk. Lo-fi whatever beard, before they sold out helvetica franzen pour-over. Yr listicle man bun bitters mlkshk hell of. 8-bit woke tbh pok pok.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path

